<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression suite" verbose="1">
  <test name="login">
    <classes>
      <class name="com.automation.runners.loginRunner"></class>
      
    </classes>
  </test>
  <!--  <test name="AircraftUI">
    <classes>
      <class name="com.automation.runners.aircraftRunner"></class>
      
    </classes>
 </test>  -->
 <!-- <test name="SRide">
    <classes>
      <class name="com.automation.runners.SRideRunner"></class>
      
    </classes>
  </test>  -->
 
</suite>